<div fxLayout="column wrap" class="kg-full-width" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <h3>
        Enter Policy Number:</h3>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true">
    <div fxLayout="column wrap" class="kg-full-width" fxLayoutAlign="start stretch" [fxShow]="true">
      <form [formGroup]="page.searchPolicyForm">
        <mat-form-field class="kg-full-width" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput placeholder="Search" [required]="false" formControlName="search">
          <mat-error align="start" *ngIf="page.searchPolicyForm.get(&apos;search&apos;)?.hasError?.(&apos;required&apos;)">Please enter a policy number</mat-error>
        </mat-form-field>
      </form>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true">
    <div fxLayout="column wrap" class="logclaim-btn relative" fxLayoutAlign="start stretch" [fxShow]="true" (click)="find()">
      <div fxLayout="column wrap" style="top: -6px; left: -4px" class="stylish-btn absolute" fxLayoutAlign="center center" [fxShow]="true" (click)="login(loginForm)">
        <div>
          Search</div>
      </div>
    </div>
  </div>
</div>