<div fxLayout="column wrap" style="height:100%" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column " style="height:100%" class="scroller-phindile" fxLayoutAlign="start stretch" [fxShow]="true"><mat-accordion style="margin-bottom:2em">
      <mat-expansion-panel style="style: background: #BDBDBD;margin: 8px;" (opened)="true" (closed)="false">
        <mat-expansion-panel-header>

          <mat-panel-title>
            <strong> Personal Details</strong>
          </mat-panel-title></mat-expansion-panel-header>
        <form [formGroup]="page.formdata">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <div fxLayout="row wrap" fxLayoutGap="10em" fxLayoutAlign="start stretch" [fxShow]="true">
              <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                <input matInput placeholder="First Name" [required]="false" formControlName="firstName">
                <mat-error align="start" *ngIf="page.formdata.controls.firstName?.errors?.required">First Name is <strong>required<strong></strong></strong></mat-error>
              </mat-form-field>
              <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                <input matInput placeholder="Last Name" [required]="false" formControlName="lastName">
                <mat-error align="start" *ngIf="page.formdata.controls.lastName?.errors?.required">First Name is <strong>required<strong></strong></strong></mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row wrap" fxLayoutGap="10em" fxLayoutAlign="start stretch" [fxShow]="true">
              <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                <input matInput placeholder="ID Number" [required]="false" formControlName="idNumber" readonly="idNumber" [disabled]="false">

              </mat-form-field>
              <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                <input matInput placeholder="Gender" [required]="false" formControlName="gender" readonly="gender" [disabled]="true">

              </mat-form-field>
            </div>
            <div fxLayout="row wrap" fxLayoutGap="10em" fxLayoutAlign="start stretch" [fxShow]="true">
              <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                <input matInput placeholder="Email" [required]="false" formControlName="email" [disabled]="true">
                <mat-error align="start" *ngIf="page.formdata.controls.email?.errors?.required">Email is <strong>required<strong></strong></strong></mat-error><mat-error align="start" *ngIf="page.formdata.controls.email?.errors?.required">enter a valid email</mat-error>
              </mat-form-field>
              <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                <input matInput placeholder="Cell phone" [required]="false" formControlName="cellphone">
                <mat-error align="start" *ngIf="page.formdata.controls.cellphone?.errors?.pattern">Enter a valid South African number</mat-error><mat-error align="start" *ngIf="page.formdata.controls.cellphone?.errors?.required">Email is <strong>required<strong></strong></strong></mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row wrap" fxLayoutGap="10em" fxLayoutAlign="start stretch" [fxShow]="true">
              <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                <input matInput placeholder="Address" [required]="false" formControlName="address">
                <mat-error align="start" *ngIf="page.formdata.controls.address?.errors?.required">Address is <strong>required<strong></strong></strong></mat-error>
              </mat-form-field><mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
                <mat-label>Package Type</mat-label>
                <mat-select formControlName="packageType" placeholder="Package Type" [required]="false" [disabled]="true">
                  <ng-template ngFor let-option [ngForOf]="page.package" let-i="index">
                    <mat-option [value]="option.value">{{option.viewValue}}</mat-option>
                  </ng-template>
                </mat-select>
                <mat-error align="start" *ngIf="page.formdata.controls.packageType?.errors?.required">Package Type is <strong>required<strong></strong></strong></mat-error>
              </mat-form-field>
            </div>
          </div>
        </form>
      </mat-expansion-panel><mat-expansion-panel style="style: background: #BDBDBD;margin: 8px;" (opened)="true" (closed)="false">
        <mat-expansion-panel-header>

          <mat-panel-title>
            <strong>Beneficary Details</strong>
          </mat-panel-title></mat-expansion-panel-header>
        <form [formGroup]="page.beneficariesForm">
          <div fxLayout="row wrap" fxLayoutGap="10em" fxLayoutAlign="start stretch" [fxShow]="true">
            <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="First Name" [required]="false" formControlName="firstName">
              <mat-error align="start" *ngIf="page.beneficariesForm.controls.firstName?.errors?.required">First Name is <strong>required<strong></strong></strong></mat-error>
            </mat-form-field>
            <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Last Name" [required]="false" formControlName="lastName">
              <mat-error align="start" *ngIf="page.beneficariesForm.controls.lastName?.errors?.required">Last Name is <strong>required<strong></strong></strong></mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="10em" fxLayoutAlign="start stretch" [fxShow]="true">
            <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Id Number" [required]="false" formControlName="idNumber" maxlength="13" oninput="this.value = this.value.replace(/[^\d]/g,&#xA0;&apos;&apos;)" (blur)="idValid()">
              <mat-error align="start" *ngIf="page.beneficariesForm.controls.id?.errors?.required">ID is <strong>required<strong></strong></strong></mat-error>
            </mat-form-field>
            <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Gender" value="{{page.gender}}" [required]="false" formControlName="gender">

            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="10em" fxLayoutAlign="start stretch" [fxShow]="true">
            <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Email" [required]="false" formControlName="email">
              <mat-error align="start" *ngIf="page.beneficariesForm.controls.email?.errors?.required">Email is <strong>required<strong></strong></strong></mat-error><mat-error align="start" *ngIf="page.beneficariesForm.controls.email?.errors?.email">Please enter a valid email address</mat-error>
            </mat-form-field>
            <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Cell phone" [required]="false" formControlName="cellphone" oninput="this.value = this.value.replace(/[^\d]/g,&#xA0;&apos;&apos;)" maxLength="10">
              <mat-error align="start" *ngIf="page.beneficariesForm.controls.cellphone?.errors?.pattern">Enter a valid South African number</mat-error><mat-error align="start" *ngIf="page.beneficariesForm.controls.cellphone?.errors?.required">Cellphone is <strong>required<strong></strong></strong></mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="10em" fxLayoutAlign="start stretch" [fxShow]="true">
            <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Relationship" [required]="false" formControlName="relationship">
              <mat-error align="start" *ngIf="page.beneficariesForm.controls.email?.errors?.required">Relationship is <strong>required<strong></strong></strong></mat-error>
            </mat-form-field>
          </div>
        </form>
        <form [formGroup]="page.beneficaries1Form" *ngIf="page.showbeneficaries1Form == true">
          <div fxLayout="row wrap" fxLayoutGap="10em" fxLayoutAlign="start stretch" [fxShow]="true">
            <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="First Name" [required]="false" formControlName="firstName">
              <mat-error align="start" *ngIf="page.beneficaries1Form.controls.firstName?.errors?.required">First Name is <strong>required<strong></strong></strong></mat-error>
            </mat-form-field>
            <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Last Name" [required]="false" formControlName="lastName">
              <mat-error align="start" *ngIf="page.beneficaries1Form.controls.lastName?.errors?.required">Last Name is <strong>required<strong></strong></strong></mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="10em" fxLayoutAlign="start stretch" [fxShow]="true">
            <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Id Number" [required]="false" formControlName="idNumber" maxlength="13" oninput="this.value = this.value.replace(/[^\d]/g,&#xA0;&apos;&apos;)" (blur)="idValid1()">
              <mat-error align="start" *ngIf="page.beneficaries1Form.controls.id?.errors?.required">ID is <strong>required<strong></strong></strong></mat-error>
            </mat-form-field>
            <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Gender" value="{{page.gender1}}" [required]="false" formControlName="gender">

            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="10em" fxLayoutAlign="start stretch" [fxShow]="true">
            <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Email" [required]="false" formControlName="email">
              <mat-error align="start" *ngIf="page.beneficaries1Form.controls.email?.errors?.required">Email is <strong>required<strong></strong></strong></mat-error><mat-error align="start" *ngIf="page.beneficaries1Form.controls.email?.errors?.email">Please enter a valid email address</mat-error>
            </mat-form-field>
            <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Cell phone" [required]="false" formControlName="cellphone" oninput="this.value = this.value.replace(/[^\d]/g,&#xA0;&apos;&apos;)">
              <mat-error align="start" *ngIf="page.beneficaries1Form.controls.cellphone?.errors?.pattern">Enter a valid South African number</mat-error><mat-error align="start" *ngIf="page.beneficaries1Form.controls.cellphone?.errors?.required">Cellphone is <strong>required<strong></strong></strong></mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="10em" fxLayoutAlign="start stretch" [fxShow]="true">
            <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Relationship" [required]="false" formControlName="relationship">
              <mat-error align="start" *ngIf="page.beneficaries1Form.controls.email?.errors?.required">Relationship is <strong>required<strong></strong></strong></mat-error>
            </mat-form-field>
          </div>
        </form>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" *ngIf="page.hideIcon"><mat-icon (click)="openBeneficiries()">add_circle</mat-icon></div>
      </mat-expansion-panel><mat-expansion-panel style="style: background: #BDBDBD;margin: 8px;" (opened)="true" (closed)="false">
        <mat-expansion-panel-header>

          <mat-panel-title>
            <strong>Dependency Details</strong>
          </mat-panel-title></mat-expansion-panel-header>
        <form [formGroup]="page.dependencyForm">
          <div fxLayout="row wrap" fxLayoutGap="10em" fxLayoutAlign="start stretch" [fxShow]="true">
            <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="First Name" [required]="false" formControlName="firstName">
              <mat-error align="start" *ngIf="page.dependency1Form.controls.firstName?.errors?.required">First Name is <strong>required<strong></strong></strong></mat-error>
            </mat-form-field>
            <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Last Name" [required]="false" formControlName="lastName">
              <mat-error align="start" *ngIf="page.dependency1Form.controls.lastName?.errors?.required">Last Name is <strong>required<strong></strong></strong></mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="10em" fxLayoutAlign="start stretch" [fxShow]="true">
            <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Id Number" [required]="false" formControlName="idNumber" oninput="this.value = this.value.replace(/[^\d]/g,&#xA0;&apos;&apos;)" maxLength="13" (blur)="idValid2()">
              <mat-error align="start" *ngIf="page.dependency1Form.controls.id?.errors?.required">ID is <strong>required<strong></strong></strong></mat-error>
            </mat-form-field>
            <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Gender" value="{{page.gender2}}" [required]="false" formControlName="gender">

            </mat-form-field>
          </div>
        </form>
        <form [formGroup]="page.dependency1Form" *ngIf="page.showdependencies1Form == true">
          <div fxLayout="row wrap" fxLayoutGap="10em" fxLayoutAlign="start stretch" [fxShow]="true">
            <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="First Name" [required]="false" formControlName="firstName">
              <mat-error align="start" *ngIf="page.dependencyForm.controls.firstName?.errors?.required">First Name is <strong>required<strong></strong></strong></mat-error>
            </mat-form-field>
            <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Last Name" [required]="false" formControlName="lastName">
              <mat-error align="start" *ngIf="page.dependencyForm.controls.lastName?.errors?.required">Last Name is <strong>required<strong></strong></strong></mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="10em" fxLayoutAlign="start stretch" [fxShow]="true">
            <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Id Number" [required]="false" formControlName="idNumber" oninput="this.value = this.value.replace(/[^\d]/g,&#xA0;&apos;&apos;)" maxLength="13" (blur)="idValid3()">
              <mat-error align="start" *ngIf="page.dependencyForm.controls.id?.errors?.required">ID is <strong>required<strong></strong></strong></mat-error>
            </mat-form-field>
            <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Gender" value="{{page.gender3}}" [required]="false" formControlName="gender">

            </mat-form-field>
          </div>
        </form>
        <form [formGroup]="page.dependency2Form" *ngIf="page.showdependencies1Form == true">
          <div fxLayout="row wrap" fxLayoutGap="10em" fxLayoutAlign="start stretch" [fxShow]="true">
            <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="First Name" [required]="false" formControlName="firstName">

            </mat-form-field>
            <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Last Name" [required]="false" formControlName="lastName">

            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="10em" fxLayoutAlign="start stretch" [fxShow]="true">
            <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Id Number" [required]="false" formControlName="idNumber" maxLength="13" oninput="this.value = this.value.replace(/[^\d]/g,&#xA0;&apos;&apos;)" (blur)="idValid4()">

            </mat-form-field>
            <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="gender" value="{{page.gender4}}" [required]="false" formControlName="gender">

            </mat-form-field>
          </div>
        </form>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" *ngIf="page.hideIcon2"><mat-icon (click)="openDependencies()" [hidden]="page.dependencyForm">add_circle</mat-icon></div>
      </mat-expansion-panel></mat-accordion>
    <div fxLayout="row wrap" style="height:5%" fxLayoutGap="2em" fxLayoutAlign="center center" [fxShow]="true"><button mat-raised-button routerLink="/dashboard/home">Cancel</button><button mat-raised-button routerLink="/dashboard/home" (click)="update()">Submit</button></div>
  </div>
</div>