<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" fxFill>
  <div fxLayout="row wrap" style="margin-left: 0.5em;" class="radius-bottom-right-LMN radius-top-right white-bg column flex full-height" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" class="pointer full-width white-bg center-center column flex height-12 nav-items radius-10px blue-color" fxLayoutGap="0.5em" fxLayoutAlign="start center" [fxShow]="true" *ngFor="let item of page.sideNav; let i" (click)="selectedItem = i; navItems(item); getNavItem();" [class.nav-items]="selectedItem === i" [routerLink]="item.route" routerLinkActive="nav-items">
      <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true"><mat-icon>{{item.icon}}</mat-icon></div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div>
          <h4 class="no-margin label nav-name-LMN">{{item.label}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>