<div fxLayout="column wrap" class="padding-5px full-height full-width" fxLayoutAlign="start stretch" [fxShow]="true" fxFill>
  <div fxLayout="row wrap" style="height: 7%; border-bottom: 1px solid lightgrey" fxLayoutAlign="center center" [fxShow]="true">
    <div fxLayout="row wrap" style="height: 100% !Important" class="margin-top-10px pointer full-width radius-10px" fxLayoutGap="0.2em" fxLayoutAlign="center center" [fxShow]="true">
      <div fxLayout="column wrap" fxLayoutAlign="center start" [fxShow]="true">
        <div style="font-size: 15px;" class="blue-color">
          <h4 class="no-margin nav-name-LMN">MENU</h4>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" style="height: 80%" class="full-width radius-bottom-right-LMN radius-top-right white-bg column flex" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" style="height: 10%" class="margin-top-10px pointer full-width white-bg nav-items radius-10px blue-color" fxLayoutGap="0.2em" fxLayoutAlign="start center" [fxShow]="true" *ngFor="let item of page.sideNav; let i" (click)="selectedItem = i; navItems(item); getNavItem();" [class.nav-items]="selectedItem === i" [routerLink]="item.route" routerLinkActive="nav-items">
      <div fxLayout="column wrap" fxLayoutAlign="center start" [fxShow]="true"><mat-icon>{{item.icon}}</mat-icon></div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div style="font-size: 13px; ">
          <h4 class="no-margin label nav-name-LMN">{{item.label}}</h4>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" style="height: 10%" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" style="height: 100% !Important" class="margin-top-10px pointer full-width white-bg radius-10px blue-color" fxLayoutGap="0.2em" fxLayoutAlign="center center" [fxShow]="true">
      <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true"><mat-icon class="teal-color no-margin" (click)="logout()">power_settings_new</mat-icon>
        <div style="font-size: 15px;" class="blue-color">
          <h4 class="no-margin label nav-name-LMN">Logout</h4>
        </div>
      </div>
    </div>
  </div>
</div>