<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" fxFill>
  <div fxLayout="row wrap" class="white-bg full-width" fxLayoutAlign="space-between center" [fxShow]="true">
    <div fxLayout="row wrap" fxLayoutAlign="start center" [fxShow]="true">
      <div fxLayout="column wrap" class="width-15 full-height" fxLayoutAlign="start center" [fxShow]="true"><img imgSrc="/Web/images/D.O.A-logo.png" class="full-width"></div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div>
          <!-- <h4 class="no-margin"> <span class="nav-name-LMN blue-color">Hi, welcome</span> Kimberly</h4> -->
          <h3 class="no-margin blue-color">D.O.A</h3>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" class="width-25 full-height" fxLayoutGap="1em" fxLayoutAlign="start center" [fxShow]="true">
      <div fxLayout="column wrap" class="relative" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon>notifications</mat-icon>
        <div class="height-10 width-10 notif-padding yellow-bg top-1 right-1 center-center flex radius-50 absolute">
          0</div>
      </div>
      <div fxLayout="column wrap" class="blue-color light-grey-bg height-35 width-10 radius-50" fxLayoutAlign="center center" [fxShow]="true">
        <div>
          <h5><b>{{page.name}}{{ page.surname}}</b></h5>
        </div>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="space-around center" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutAlign="start center" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <div>
              <h3 class="blue-color">
                <span *ngIf="page.user.name &amp;&amp; page.user.surname">
                {{page.user.name}} {{page.user.surname}}
                </span>
                <span *ngIf="!page.user.name &amp;&amp; !page.user.surname">
                {{page.user.firstName}} {{page.user.lastName}}
                </span>
              </h3>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="pointer" [matMenuTriggerFor]="menu">keyboard_arrow_down</mat-icon></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-menu #menu="matMenu"><button mat-menu-item class="blue-color" (click)="logout()">
        <div fxLayout="row wrap" fxLayoutAlign="start center" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="teal-color">exit_to_app</mat-icon></div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <div>
              <h3 class="blue-color no-margin">Logout</h3>
            </div>
          </div>
        </div>
      </button></mat-menu></div>
</div>