<div fxLayout="column wrap" class="white-bg full-width" fxLayoutAlign="center stretch" [fxShow]="true" fxFill>
  <div fxLayout="row wrap" class="full-width white-bg" fxLayoutAlign="space-between stretch" [fxShow]="true">
    <div fxLayout="row wrap" fxLayoutAlign="start center" [fxShow]="true">
      <div fxLayout="column wrap" class="width-15 full-height" fxLayoutAlign="start center" [fxShow]="true"><img imgSrc="/Web/images/D.O.A-logo.png" class="full-width"></div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div>
          <!-- <h4 class="no-margin"> <span class="nav-name-LMN blue-color">Hi, welcome</span> Kimberly</h4> -->
          <h3 class="no-margin blue-color">D.O.A</h3>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" style="margin-right: 1.5em" class="width-25 full-height" fxLayoutGap="1em" fxLayoutAlign="end center" [fxShow]="true">
      <div fxLayout="column wrap" class="pointer relative" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon [matMenuTriggerFor]="notsMenu">notifications</mat-icon><small *ngIf="page.notifications?.length" class="sim-x-small height-10 width-10 notif-padding yellow-bg top-1 right-1 center-center flex radius-50 absolute">
          {{page.notifications?.length}}</small></div>
      <div fxLayout="column wrap" class="pointer blue-color light-grey-bg height-35 width-10 radius-50" fxLayoutAlign="center center" [fxShow]="true">
        <div>
          <h5><b>{{page.name}}{{ page.surname}}</b></h5>
        </div>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="space-around center" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutAlign="start center" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <div>
              <h3 class="blue-color">
                <span *ngIf="page.user.name &amp;&amp; page.user.surname">
                {{page.user.name}} {{page.user.surname}}
                </span>
                <span *ngIf="!page.user.name &amp;&amp; !page.user.surname">
                {{page.user.firstName}} {{page.user.lastName}}
                </span>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-menu #menu="matMenu"><button mat-menu-item class="blue-color" (click)="logout()">
        <div fxLayout="row wrap" fxLayoutAlign="start center" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="teal-color">exit_to_app</mat-icon></div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <div>
              <h3 class="blue-color no-margin">Logout</h3>
            </div>
          </div>
        </div>
      </button></mat-menu></div>
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-menu class="sim-menu width-200px padding-5px" #notsMenu="matMenu" xPosition="before" #menu="matMenu">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" *ngIf="!page.notifications?.length">
        <div class="blue-color sim-x-small">
          You currently have no notifications</div>
      </div>
      <div fxLayout="column wrap" class="sim-border-radius light-blue-bg" fxLayoutAlign="start stretch" [fxShow]="true" *ngFor="let message of page.notifications; let indx = index"><small class="COLOR-WHITE sim-x-small">
          {{message._notification}}. <span class="pointer sim-link" (click)="viewClaim(message)">{{message.claimNumber}}</span>.</small>
        <div fxLayout="row wrap" fxLayoutAlign="end stretch" [fxShow]="true"><small class="COLOR-WHITE sim-x-small">
            {{ message.date | date }}</small></div>
        <hr *ngIf="indx !== page.notifications.length -1" class="no-margin fullWidth COLOR-WHITE">
      </div>
    </mat-menu></div>
</div>