<div fxLayout="column wrap" class="kg-full-width" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" class="kg-half-width" fxLayoutAlign="center stretch" [fxShow]="true">
      <div fxLayout="column wrap" class="margin-top-10px margin-left-1em search" fxLayoutAlign="center stretch" [fxShow]="true">
        <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput type="Search" placeholder="Search" [required]="false" (keydown)="onFilter_2($event)">
          <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" class="kg-padding-10px kg-border-box kg-full-width" fxLayoutAlign="start stretch" [fxShow]="true"><mat-tab-group mat-align-tabs="start" color="accent"><mat-tab label="All">
          <div fxLayout="row wrap" style="margin-bottom: 1em;" fxLayoutAlign="start stretch" [fxShow]="true" *ngIf="page?.result.length &lt; 1"><img imgSrc="/Web/images/D.O.A-logo.png" class="rotate" width="90%"></div>
          <div fxLayout="column" style="border: 1.5px solid #124e52;">
            <table mat-table [dataSource]="page?.tableData" *ngIf="page?.result.length &gt; 0" matSort class="table-width-fix">
              <tr mat-header-row *matHeaderRowDef="[&apos;lastName&apos;,&apos;policyNo&apos;,&apos;claimNumber&apos;,&apos;date.slice(0,10)&apos;,&apos;payoutAmount&apos;,&apos;status&apos;,&apos;588fc765-2fd0-8268-9651-a0e3f9d82469&apos;]"></tr>
              <tr mat-row *matRowDef="let row; columns: [&apos;lastName&apos;,&apos;policyNo&apos;,&apos;claimNumber&apos;,&apos;date.slice(0,10)&apos;,&apos;payoutAmount&apos;,&apos;status&apos;,&apos;588fc765-2fd0-8268-9651-a0e3f9d82469&apos;];"></tr>

              <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Client Name</th>
                <td mat-cell *matCellDef="let table; let i = index;">{{table.firstName}} {{table.lastName}}</td>
              </ng-container>

              <ng-container matColumnDef="policyNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Policy Number</th>
                <td mat-cell *matCellDef="let table; let i = index;">{{table.policyNo}}</td>
              </ng-container>

              <ng-container matColumnDef="claimNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Claim Number</th>
                <td mat-cell *matCellDef="let table; let i = index;">{{table.claimNumber}}</td>
              </ng-container>

              <ng-container matColumnDef="date.slice(0,10)">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Claim Date</th>
                <td mat-cell *matCellDef="let table; let i = index;">{{table.date.slice(0,10)}}</td>
              </ng-container>

              <ng-container matColumnDef="payoutAmount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Claim Amount</th>
                <td mat-cell *matCellDef="let table; let i = index;">{{table.payoutAmount}}</td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                <td mat-cell *matCellDef="let table; let i = index;">{{table.status}}</td>
              </ng-container>

              <ng-container matColumnDef="588fc765-2fd0-8268-9651-a0e3f9d82469">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let table; let i = index;">
                  <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="start center" [fxShow]="true">
                    <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true"><mat-icon class="kg-pointer" matTooltip="Review Claim" (click)="reviewClaim(table)">visibility</mat-icon></div>
                  </div>
                </td>
              </ng-container>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

          </div>
        </mat-tab><mat-tab label="Approved">
          <div fxLayout="row wrap" style="margin-bottom: 1em;" fxLayoutAlign="center center" [fxShow]="true" *ngIf="page?.approvedDataSource.length &lt; 1"><img imgSrc="/Web/images/D.O.A-logo.png" style="height: 300px; width: 400px" class="rotate"></div>
          <div fxLayout="column" style="border: 1.5px solid #124e52;">
            <table mat-table [dataSource]="page?.approvedDataSource" *ngIf="page?.approvedDataSource.length &gt; 0" matSort class="table-width-fix">
              <tr mat-header-row *matHeaderRowDef="[&apos;lastName&apos;,&apos;policyNo&apos;,&apos;claimNumber&apos;,&apos;date.slice(0,10)&apos;,&apos;payoutAmount&apos;,&apos;status&apos;,&apos;588fc765-2fd0-8268-9651-a0e3f9d82469&apos;]"></tr>
              <tr mat-row *matRowDef="let row; columns: [&apos;lastName&apos;,&apos;policyNo&apos;,&apos;claimNumber&apos;,&apos;date.slice(0,10)&apos;,&apos;payoutAmount&apos;,&apos;status&apos;,&apos;588fc765-2fd0-8268-9651-a0e3f9d82469&apos;];"></tr>

              <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Client Name</th>
                <td mat-cell *matCellDef="let table; let i = index;">{{table.firstName}} {{table.lastName}}</td>
              </ng-container>

              <ng-container matColumnDef="policyNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Policy Number</th>
                <td mat-cell *matCellDef="let table; let i = index;">{{table.policyNo}}</td>
              </ng-container>

              <ng-container matColumnDef="claimNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Claim Number</th>
                <td mat-cell *matCellDef="let table; let i = index;">{{table.claimNumber}}</td>
              </ng-container>

              <ng-container matColumnDef="date.slice(0,10)">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Claim Date</th>
                <td mat-cell *matCellDef="let table; let i = index;">{{table.date.slice(0,10)}}</td>
              </ng-container>

              <ng-container matColumnDef="payoutAmount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Claim Amount</th>
                <td mat-cell *matCellDef="let table; let i = index;">{{table.payoutAmount}}</td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                <td mat-cell *matCellDef="let table; let i = index;">{{table.status}}</td>
              </ng-container>

              <ng-container matColumnDef="588fc765-2fd0-8268-9651-a0e3f9d82469">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let table; let i = index;">
                  <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="start center" [fxShow]="true">
                    <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true"><mat-icon class="kg-pointer" matTooltip="Review Claim" (click)="reviewClaim(table)">visibility</mat-icon></div>
                  </div>
                </td>
              </ng-container>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

          </div>
        </mat-tab><mat-tab label="Pending">
          <div fxLayout="row wrap" style="margin-bottom: 1em;" fxLayoutAlign="center center" [fxShow]="true" *ngIf="page?.pendingDataSource.length &lt; 1"><img imgSrc="/Web/images/D.O.A-logo.png" style="height: 300px; width: 400px" class="rotate"></div>
          <div fxLayout="column" style="border: 1.5px solid #124e52;">
            <table mat-table [dataSource]="page?.pendingDataSource" *ngIf="page?.pendingDataSource.length &gt; 0" matSort class="table-width-fix">
              <tr mat-header-row *matHeaderRowDef="[&apos;lastName&apos;,&apos;policyNo&apos;,&apos;claimNumber&apos;,&apos;date.slice(0,10)&apos;,&apos;payoutAmount&apos;,&apos;status&apos;,&apos;588fc765-2fd0-8268-9651-a0e3f9d82469&apos;]"></tr>
              <tr mat-row *matRowDef="let row; columns: [&apos;lastName&apos;,&apos;policyNo&apos;,&apos;claimNumber&apos;,&apos;date.slice(0,10)&apos;,&apos;payoutAmount&apos;,&apos;status&apos;,&apos;588fc765-2fd0-8268-9651-a0e3f9d82469&apos;];"></tr>

              <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Client Name</th>
                <td mat-cell *matCellDef="let table; let i = index;">{{table.firstName}} {{table.lastName}}</td>
              </ng-container>

              <ng-container matColumnDef="policyNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Policy Number</th>
                <td mat-cell *matCellDef="let table; let i = index;">{{table.policyNo}}</td>
              </ng-container>

              <ng-container matColumnDef="claimNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Claim Number</th>
                <td mat-cell *matCellDef="let table; let i = index;">{{table.claimNumber}}</td>
              </ng-container>

              <ng-container matColumnDef="date.slice(0,10)">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Claim Date</th>
                <td mat-cell *matCellDef="let table; let i = index;">{{table.date.slice(0,10)}}</td>
              </ng-container>

              <ng-container matColumnDef="payoutAmount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Claim Amount</th>
                <td mat-cell *matCellDef="let table; let i = index;">{{table.payoutAmount}}</td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                <td mat-cell *matCellDef="let table; let i = index;">{{table.status}}</td>
              </ng-container>

              <ng-container matColumnDef="588fc765-2fd0-8268-9651-a0e3f9d82469">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let table; let i = index;">
                  <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="start center" [fxShow]="true">
                    <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true"><mat-icon class="kg-pointer" matTooltip="Review Claim" (click)="reviewClaim(table)">visibility</mat-icon></div>
                  </div>
                </td>
              </ng-container>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

          </div>
        </mat-tab><mat-tab label="Rejected">
          <div fxLayout="row wrap" style="margin-bottom: 1em;" fxLayoutAlign="center center" [fxShow]="true" *ngIf="page?.rejectedDataSource.length &lt; 1"><img imgSrc="/Web/images/D.O.A-logo.png" style="height: 300px; width: 400px" class="rotate"></div>
          <div fxLayout="column" style="border: 1.5px solid #124e52;">
            <table mat-table [dataSource]="page?.rejectedDataSource" *ngIf="page?.rejectedDataSource.length &gt; 0" matSort class="table-width-fix">
              <tr mat-header-row *matHeaderRowDef="[&apos;lastName&apos;,&apos;policyNo&apos;,&apos;claimNumber&apos;,&apos;date.slice(0,10)&apos;,&apos;payoutAmount&apos;,&apos;status&apos;,&apos;588fc765-2fd0-8268-9651-a0e3f9d82469&apos;]"></tr>
              <tr mat-row *matRowDef="let row; columns: [&apos;lastName&apos;,&apos;policyNo&apos;,&apos;claimNumber&apos;,&apos;date.slice(0,10)&apos;,&apos;payoutAmount&apos;,&apos;status&apos;,&apos;588fc765-2fd0-8268-9651-a0e3f9d82469&apos;];"></tr>

              <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Client Name</th>
                <td mat-cell *matCellDef="let table; let i = index;">{{table.firstName}} {{table.lastName}}</td>
              </ng-container>

              <ng-container matColumnDef="policyNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Policy Number</th>
                <td mat-cell *matCellDef="let table; let i = index;">{{table.policyNo}}</td>
              </ng-container>

              <ng-container matColumnDef="claimNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Claim Number</th>
                <td mat-cell *matCellDef="let table; let i = index;">{{table.claimNumber}}</td>
              </ng-container>

              <ng-container matColumnDef="date.slice(0,10)">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Claim Date</th>
                <td mat-cell *matCellDef="let table; let i = index;">{{table.date.slice(0,10)}}</td>
              </ng-container>

              <ng-container matColumnDef="payoutAmount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Claim Amount</th>
                <td mat-cell *matCellDef="let table; let i = index;">{{table.payoutAmount}}</td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                <td mat-cell *matCellDef="let table; let i = index;">{{table.status}}</td>
              </ng-container>

              <ng-container matColumnDef="588fc765-2fd0-8268-9651-a0e3f9d82469">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let table; let i = index;">
                  <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="start center" [fxShow]="true">
                    <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true"><mat-icon class="kg-pointer" matTooltip="Review Claim" (click)="reviewClaim(table)">visibility</mat-icon></div>
                  </div>
                </td>
              </ng-container>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

          </div>
        </mat-tab><mat-tab label="Partially Approved">
          <div fxLayout="row wrap" style="margin-bottom: 1em;" fxLayoutAlign="center center" [fxShow]="true" *ngIf="page?.partiallyApprovedDataSource.length &lt; 1"><img imgSrc="/Web/images/D.O.A-logo.png" style="height: 300px; width: 400px" class="rotate"></div>
          <div fxLayout="column" style="border: 1.5px solid #124e52;">
            <table mat-table [dataSource]="page?.partiallyApprovedDataSource" *ngIf="page?.partiallyApprovedDataSource.length &gt; 0" matSort class="table-width-fix">
              <tr mat-header-row *matHeaderRowDef="[&apos;lastName&apos;,&apos;policyNo&apos;,&apos;claimNumber&apos;,&apos;date.slice(0,10)&apos;,&apos;payoutAmount&apos;,&apos;status&apos;,&apos;588fc765-2fd0-8268-9651-a0e3f9d82469&apos;]"></tr>
              <tr mat-row *matRowDef="let row; columns: [&apos;lastName&apos;,&apos;policyNo&apos;,&apos;claimNumber&apos;,&apos;date.slice(0,10)&apos;,&apos;payoutAmount&apos;,&apos;status&apos;,&apos;588fc765-2fd0-8268-9651-a0e3f9d82469&apos;];"></tr>

              <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Client Name</th>
                <td mat-cell *matCellDef="let table; let i = index;">{{table.firstName}} {{table.lastName}}</td>
              </ng-container>

              <ng-container matColumnDef="policyNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Policy Number</th>
                <td mat-cell *matCellDef="let table; let i = index;">{{table.policyNo}}</td>
              </ng-container>

              <ng-container matColumnDef="claimNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Claim Number</th>
                <td mat-cell *matCellDef="let table; let i = index;">{{table.claimNumber}}</td>
              </ng-container>

              <ng-container matColumnDef="date.slice(0,10)">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Claim Date</th>
                <td mat-cell *matCellDef="let table; let i = index;">{{table.date.slice(0,10)}}</td>
              </ng-container>

              <ng-container matColumnDef="payoutAmount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Claim Amount</th>
                <td mat-cell *matCellDef="let table; let i = index;">{{table.payoutAmount}}</td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                <td mat-cell *matCellDef="let table; let i = index;">{{table.status}}</td>
              </ng-container>

              <ng-container matColumnDef="588fc765-2fd0-8268-9651-a0e3f9d82469">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let table; let i = index;">
                  <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="start center" [fxShow]="true">
                    <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true"><mat-icon class="kg-pointer" matTooltip="Review Claim" (click)="reviewClaim(table)">visibility</mat-icon></div>
                  </div>
                </td>
              </ng-container>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

          </div>
        </mat-tab></mat-tab-group></div>
  </div>
</div>