<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
  <div>
    <div class="summary-cards">
      <div class="card pending">
        <i class="icon-hourglass"></i>
        <div class="card-info">
          <span class="count">12</span>
          <span>Pending Claims</span>
        </div>
      </div>
      <div class="card partially-approved">
        <i class="icon-half-check"></i>
        <div class="card-info">
          <span class="count">8</span>
          <span>Partially Approved</span>
        </div>
      </div>
      <div class="card fully-approved">
        <i class="icon-check"></i>
        <div class="card-info">
          <span class="count">20</span>
          <span>Fully Approved</span>
        </div>
      </div>
    </div>
  </div>
</div>