<div fxLayout="column " style="color:#124e52" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column " class="scroller" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="center center" [fxShow]="true">
      <h2>
        Claims Form - {{page.policyNo}}</h2>
    </div>
    <form [formGroup]="page.policyClaimsForm">
      <div fxLayout="column wrap" style="padding-left:19px; padding-right:19px" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"><label style="margin-bottom: 20px; ">
              <b *ngIf="page.policyHolder == true">Policy Holder Details</b>
              <b *ngIf="page.beneficiary == true">Beneficiary Details</b></label></div>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" *ngIf="page.beneficiary ==true"><mat-form-field class="width-49" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
              <mat-label>Select Beneficiary Id Number</mat-label>
              <mat-select formControlName="beIds" placeholder="Select" [required]="false" (selectionChange)="populate2()">
                <ng-template ngFor let-option [ngForOf]="page.beIds" let-i="index">
                  <mat-option [value]="option.value">{{option.viewValue}}</mat-option>
                </ng-template>
              </mat-select>

            </mat-form-field></div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between space-between" [fxShow]="true">
            <mat-form-field class="width-49" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Name" [required]="false" formControlName="firstName" readonly="True">

            </mat-form-field>
            <mat-form-field class="width-49" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Lastname" [required]="false" formControlName="lastName" readonly="true">

            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between space-between" [fxShow]="true">
            <mat-form-field class="width-49" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Idnum" [required]="false" formControlName="idNum" readonly="true">

            </mat-form-field>
            <mat-form-field class="width-49" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Gender" [required]="false" formControlName="gender" readonly="true">

            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between space-between" [fxShow]="true">
            <mat-form-field class="width-49" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Pakage Type" [required]="false" formControlName="packageType" readonly="true">

            </mat-form-field>
            <mat-form-field class="width-49" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Payout Amount" [required]="false" formControlName="payoutAmount" readonly="true">

            </mat-form-field>
          </div>
        </div>
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"><label style="margin-bottom: 20px; ">
              <b>Deceased Details</b></label></div>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" *ngIf="page.policyHolder == true"><mat-form-field class="width-49" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
              <mat-label>Select Dependency Id Number</mat-label>
              <mat-select formControlName="depsId" placeholder="Select" [required]="false" (selectionChange)="populate()">
                <ng-template ngFor let-option [ngForOf]="page.ids" let-i="index">
                  <mat-option [value]="option.value">{{option.viewValue}}</mat-option>
                </ng-template>
              </mat-select>

            </mat-form-field></div>
          <form [formGroup]="page.deceased">
            <div fxLayout="row wrap" fxLayoutAlign="space-between space-between" [fxShow]="true">
              <mat-form-field class="width-49" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                <input matInput placeholder="Name" [required]="false" formControlName="firstName" readonly="true">

              </mat-form-field>
              <mat-form-field class="width-49" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                <input matInput placeholder="Lastname" [required]="false" formControlName="lastName" readonly="true">

              </mat-form-field>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="space-between space-between" [fxShow]="true">
              <mat-form-field class="width-49" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                <input matInput placeholder="Idnum" [required]="false" formControlName="idNum" readonly="true">

              </mat-form-field>
              <mat-form-field class="width-49" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                <input matInput placeholder="Gender" [required]="false" formControlName="gender" readonly="true">

              </mat-form-field>
            </div>
          </form>
          <div fxLayout="column " fxLayoutAlign="start stretch" [fxShow]="true">
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"><label style="margin-bottom: 20px; ">
                <b>Required Documents</b></label></div>
            <div style="    display: flex;     flex-direction: row;     gap: 53px;     justify-content: center;">

              <div (click)="upload1()">
                <input type="file" id="upload1" hidden required formControlName="idClaimer2">
                <button class="input-button"><label for="upload1">
                    Upload ID Claimer
                  </label></button>
              </div>
              <div (click)="upload2()">

                <input type="file" id="upload2" (change)="upload2()" hidden required formControlName="idDeceased2">
                <button class="input-button"><label for="upload2">
                    Upload ID Deceased

                  </label></button>
              </div>
              <div (click)="upload3()">
                <input type="file" id="upload3" (change)="upload3()" hidden required formControlName="deathCetificatify2">
                <button class="input-button"><label for="upload3">
                    Upload Death Certificate

                  </label></button>

              </div>
              <div (click)="upload4()">
                <input type="file" id="upload4" (change)="upload4()" hidden required formControlName="bi16632">
                <button class="input-button"><label for="upload4">
                    Upload bi1663

                  </label></button>
              </div>
              <div (click)="upload5()">
                <input type="file" id="upload5" (change)="upload5()" hidden required formControlName="bankDetails2">
                <button class="input-button"><label for="upload5">
                    Upload Bank Details

                  </label></button>
              </div>


            </div>
            <div fxLayout="column wrap" style="height:30px; width:100%; margin-top:10px" fxLayoutAlign="start stretch" [fxShow]="true">
              <div fxLayout="row wrap" class="FullHeight fullWidth" fxLayoutAlign="start center" [fxShow]="true"><button mat-raised-button style="background:#f7dd71; color:#124e52;" (click)="open()">View Doc</button></div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true"><button mat-raised-button style="margin-top: 25px;     margin-bottom: 25px;    width: 124px;" color="accent" (click)="start()">Submit a Claim</button></div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>