<div fxLayout="row wrap" class="margin-10" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/images/D.O.A-logo.png" style="height: 70px;" width="90px;"></div>
<div fxLayout="column wrap" style="width: 500px;height:300px" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" class="FullHeight" fxLayoutAlign="center stretch" [fxShow]="true">
    <form #loginForm="ngForm" class="full-width full-height" (ngSubmit)="login(loginForm)">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="column wrap" style="height:20%; font-family: Fellix, sans-serif;" fxLayoutAlign="start stretch" [fxShow]="true">
          <div>
            <small>Email*</small>
          </div>
        </div>
        <div fxLayout="column wrap" style="height:50%; " fxLayoutAlign="start stretch" [fxShow]="true">
          <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;always&apos;" [hideRequiredMarker]="false">
            <input matInput [(ngModel)]="page.loginForm.email " name="email" type="email" placeholder="{{page.user.email}}" value="{{page.user.email}}" [required]="false" readonly="true">

          </mat-form-field>
        </div>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="column wrap" style="height:20%; font-family: Fellix, sans-serif;" fxLayoutAlign="start stretch" [fxShow]="true">
          <div>
            <small>Password*</small>
          </div>
        </div>
        <div fxLayout="column wrap" style="height:50%;" fxLayoutAlign="start stretch" [fxShow]="true">
          <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
            <input matInput [(ngModel)]="page.loginForm.password" name="password" type="password" placeholder="****" [required]="true" maxlength="4" minlength="4" pattern="^[0-9]*$" (input)="countCharacters($event)">
            <mat-error align="start" *ngIf="page.characterCount &lt; 4">Password must have be 4 in length</mat-error><mat-error align="start" *ngIf="loginForm.controls.password?.errors?.pattern">Only Numbers Are Allowed</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row wrap" class="full-width" fxLayoutGap="1em" fxLayoutAlign="end stretch" [fxShow]="true">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-raised-button class="white-color yellow-bg" (click)="checkPassword(loginForm)">Submit</button></div>
      </div>
    </form>
  </div>
</div>